$color-red: #f43a3a;
$color-dark: #3b3931;
$color-grey: #a6a6a6;

// FIRST SECTION

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.first__section {
  height: 100vh;
  scroll-snap-align: center;
  .show__nav {
    height: 4rem;
    width: calc(100vw - 8rem);
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 80%;
    }
    .nav__links {
      display: flex;
      justify-content: space-between;
      width: 30vw;
      a {
        text-decoration: none;
        color: $color-dark;
        font-size: 1rem;
        span {
          color: $color-red;
          margin-right: 5px;
        }
      }
    }
  }
  .reveal.fadeInDown {
    opacity: 0;
    transition: all 1.5s ease-in-out;
    transform: translateY(-120px);
  }

  .reveal.fadeInDown.visible {
    transform: translateY(0);
    opacity: 1;
  }

  .firstSection__textwrapper {
    padding-top: 5rem;
    padding-left: 15%;
    h1 {
      color: $color-grey;
      font-size: 1.5rem;
      margin-bottom: 0;
      font-family: helveticaMedium;
    }
    h2 {
      font-size: clamp(40px, 8vw, 80px);
      font-family: helveticaBold;
      color: $color-red;
      margin: 0;
    }
    h3 {
      font-size: clamp(40px, 8vw, 80px);
      font-family: helveticaBold;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      margin-top: 20px;
      font-size: 20px;
      max-width: 540px;
      margin-bottom: 4rem;
      span {
        color: $color-red;
      }
    }
    a {
      text-decoration: none;
      padding: 1rem 3rem;
      border: 1px solid $color-red;
      border-radius: 5px;
      color: $color-red;
    }
  }
}

// ABOUT

.about {
  height: 100vh;
  scroll-snap-align: center;
  padding-left: 15%;
  h2 {
    padding-top: 10rem;
    color: $color-dark;

    span {
      color: $color-red;
      margin-right: 8px;
    }
  }
  .about__info {
    display: flex;
    align-items: flex-start;
    margin-top: 0rem;
    .text__wrapper {
      width: 50%;
      color: $color-dark;

      span {
        color: $color-red;
      }
      .skills__list {
        display: flex;
        justify-content: flex-start;

        ul {
          list-style: none;
          margin-right: 1rem;
          width: 33%;
          margin-top: 0;
          padding-left: 0;
          li {
            line-height: 1.7rem;
          }
        }
      }
    }
    .img__wrapper {
      margin-left: 4rem;
      background-color: $color-red;
      position: relative;
      border-radius: 10px;
      transition: background-color 0.3s ease-in-out;
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        filter: grayscale(0.6);
        mix-blend-mode: multiply;
        transition: filter 0.1s ease-in-out;
        position: relative;
        vertical-align: middle;
      }
      img:hover {
        filter: grayscale(0);
        background-color: transparent;
      }
      .red__shadow {
        border: 3px solid $color-red;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 20px;
        z-index: -2;
        border-radius: 10px;
      }
      .white__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 10px;
        background-color: white;
      }
    }
    .img__wrapper:hover {
      background-color: transparent;
    }
  }
}

// PORTFOLIO SECTION

.portfolio__section {
  width: 100vw;
  height: calc(100vh - 25px);
  scroll-snap-align: center;

  .portfolio__wrapper {
    width: calc(100% - 25px);
    height: 100%;
    margin: 0 auto;
    position: relative;
    .aps__wrapper {
      position: absolute;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(50% - 25px);
      height: calc(50vh - 30px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .nemOne__wrapper {
      position: absolute;
      left: 50%;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(25% - 25px);
      height: calc(25vh - 25px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .nemHunt__wrapper {
      position: absolute;
      left: 75%;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(25% - 25px);
      height: calc(25vh - 25px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .Inno__wrapper {
      position: absolute;
      left: 50%;
      top: 25%;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(25% - 25px);
      height: calc(25vh - 25px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .Oir__wrapper {
      position: absolute;
      left: 75%;
      top: 25%;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(25% - 25px);
      height: calc(25vh - 25px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .WM__wrapper {
      position: absolute;
      left: 20%;
      top: 50%;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(30% - 25px);
      height: calc(25vh - 25px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .procor__wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(50% - 25px);
      height: calc(50vh - 25px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
    .cpa__wrapper {
      position: absolute;
      left: 20%;
      top: 75%;
      padding: 0 12.5px 25px 12.5px;
      display: inline-block;
      width: calc(30% - 25px);
      height: calc(25vh - 25px);
      a {
        div {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
          }
          img:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

// CONTACT SECTION

.bottom__section {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
  .contact__section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
    h2 {
      font-size: 2.3em;
      font-weight: 500;
      margin-bottom: 0.2em;
      text-align: center;
      span {
        color: $color-red;
        margin-right: 8px;
      }
    }
    p {
      text-align: center;
      margin-bottom: 2rem;
    }
    .form__wrapper {
      width: 55%;
      max-width: 600px;
      margin-bottom: 2em;
      form {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .short__input {
          background-color: #f4f4f4;
          width: calc(100% / 2 - 2.5em);
          min-height: 1.5em;
          margin-bottom: 1em;
          padding: 1em;
          border-radius: 5px;
          border: none;
        }
        .long__input {
          background-color: #f4f4f4;
          width: 100%;
          min-height: 1.5em;
          margin-bottom: 1em;
          padding: 1em;
          border-radius: 5px;
          border: none;
        }
        textarea {
          background-color: #f4f4f4;
          width: 100%;
          height: 8em;
          margin-bottom: 3rem;
          padding: 1em;
          border-radius: 5px;
          color: #757575;
          border: none;
        }
        button {
          background-color: $color-red;
          padding: 0.5em 2em;
          border-radius: 50px;
          font-size: 1em;
          cursor: pointer;
          color: white;
          transition: all 0.5s ease;
          margin: auto;
          border: none;
        }
        button:hover {
          color: #ffe419;
        }
        ::placeholder {
          text-transform: uppercase;
          font-family: helveticaLight;
        }
      }
    }
  }
  .main__footer {
    width: 100vw;
    background: #f4f4f4;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      color: black;
      text-decoration: none;
      span {
        color: $color-red;
        margin-right: 8px;
      }
    }
  }
}

// PROJECT PAGE

.project__page {
  height: calc(100vh - 96px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
  .reveal.fadeInLeft {
    opacity: 0;
    transition: all 2s ease-in-out;
    transform: translateX(-100px);
  }

  .reveal.fadeInLeft.visible {
    transform: translateX(0);
    opacity: 1;
  }

  .reveal.fadeInRight {
    opacity: 0;
    transition: all 2s ease-in-out;
    transform: translateX(70px);
  }

  .reveal.fadeInRight.visible {
    transform: translateX(0);
    opacity: 1;
  }
  .project__text {
    width: 40%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    h1 {
      margin-top: 0;
      font-size: 3rem;
      color: $color-red;
      margin-bottom: 0;
    }
    h2 {
      color: $color-dark;
      margin-top: 0;
    }
    p {
      color: $color-dark;
    }
    .project__tecnologies {
      display: flex;
      justify-content: flex-start;
      justify-content: left;
      align-items: center;
      img {
        width: 10%;
        object-fit: contain;
        margin-right: 3rem;
      }
    }
    a {
      text-decoration: none;
      padding: 1rem 2rem;
      text-align: center;
      width: 40%;
      border: 1px solid $color-red;
      border-radius: 5px;
      color: $color-red;
      margin-top: 2rem;
    }
  }
  img {
    width: 60%;
    object-fit: contain;
  }
}

@media (max-width: 600px) {
  .scroller {
    height: 100vh;
    overflow-y: initial;
    scroll-snap-type: initial;
  }
  .first__section {
    .show__nav {
      width: calc(100vw - 60px);
      padding: 1rem 20px;
      .openmenu {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        backdrop-filter: blur(15px);
        background-color: white;
        button {
          padding: 2rem;
          border: none;
          background: transparent;
          font-size: 2.5rem;
          color: $color-red;
        }
        ul {
          padding: 15%;
          width: 100%;
          height: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;

          a {
            margin-bottom: 5rem;
            padding-left: 18%;
            font-size: 1.5rem;
            color: $color-dark;
            text-decoration: none;
            span {
              color: $color-red;
            }
          }
        }
      }
    }

    .firstSection__textwrapper {
      h3 {
        margin-right: 40px;
      }
      p {
        padding-right: 15px;
      }
    }
  }

  .about {
    height: auto;
    padding-left: 15%;
    h2 {
      padding-top: 4rem;
    }
    .about__info {
      flex-direction: column;
      .text__wrapper {
        width: 90%;
        .hide__phone {
          display: none;
        }
        .skills__list {
          display: flex;
          justify-content: flex-start;

          ul {
            list-style: none;
            margin-right: 1rem;
            width: 33%;
            margin-top: 0;
            padding-left: 0;
            li {
              line-height: 1.7rem;
            }
          }
        }
      }
      .img__wrapper {
        margin-left: 4rem;
        margin-bottom: 10rem;

        img {
          width: 200px;
          height: 200px;
        }

        .red__shadow {
          top: 15px;
          left: 15px;
        }
      }
    }
  }

  .portfolio__section {
    margin-bottom: 10rem;
  }

  .bottom__section {
    height: auto;

    .contact__section {
      .form__wrapper {
        width: 100%;
        form {
          .short__input {
            width: calc(100%);
          }
        }
      }
    }

    .portfolio__section {
      margin-bottom: 6rem;
    }
    .main__footer {
      height: 8vh;
    }
  }

  // PROJECT PAGE

  .project__page {
    height: auto;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 0 10%;

    .project__text {
      width: 90%;
      margin-right: 0;
      h1 {
        margin-top: 0;
        font-size: 3rem;
        color: $color-red;
        margin-bottom: 0;
      }
      h2 {
        color: $color-dark;
        margin-top: 0;
      }
      p {
        color: $color-dark;
      }
      .project__tecnologies {
        display: flex;
        justify-content: flex-start;
        justify-content: left;
        align-items: center;
        img {
          width: 15%;
          object-fit: contain;
          margin-right: 1rem;
        }
      }
      a {
        margin-bottom: 4rem;
      }
    }
    img {
      width: 100%;
      margin: 4rem 0;
    }
  }
}
