$color-red: #f43a3a;
$color-dark: #3b3931;

.show__nav {
  height: 4rem;
  width: calc(100vw - 8rem);
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .project__navlink {
    height: 100%;
    padding-top: 12px;
  }
  img {
    height: 80%;
  }
  .nav__links {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    a {
      text-decoration: none;
      color: $color-dark;
      font-size: 1rem;
      span {
        color: $color-red;
        margin-right: 5px;
      }
    }
  }
}

.hide__nav {
  animation: 5s fadeIn ease-in-out;
  height: 4rem;
  width: calc(100vw - 8rem);
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  img {
    height: 80%;
  }
  .nav__links {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    a {
      text-decoration: none;
      color: $color-dark;
      font-size: 1rem;
      span {
        color: $color-red;
        margin-right: 5px;
      }
    }
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.contact__bar {
  position: fixed;
  bottom: 0;
  left: 20px;
  width: 40px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    .github__logo {
      display: block;
      margin: 0 auto;
      background-image: url(../assets/github.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0.8rem;
      margin-bottom: 1rem;
      transition: background-image 0.2s ease-in-out;
      transition: padding 0.2s ease-in-out;
    }
    .github__logo:hover {
      background-image: url(../assets/githubrojo.svg);
      padding: 0.9rem;
    }
    .linkedin__logo {
      display: block;
      margin: 0 auto;
      background-image: url(../assets/linkedin.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0.8rem;
      margin-bottom: 1rem;
      transition: background-image 0.2s ease-in-out;
      transition: padding 0.2s ease-in-out;
    }
    .linkedin__logo:hover {
      background-image: url(../assets/linkedinrojo.svg);
      padding: 0.9rem;
    }
    .codepen__logo {
      display: block;
      margin: 0 auto;
      background-image: url(../assets/codepen.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0.8rem;
      margin-bottom: 1rem;
      transition: background-image 0.2s ease-in-out;
      transition: padding 0.2s ease-in-out;
    }
    .codepen__logo:hover {
      background-image: url(../assets/codepenrojo.svg);
      padding: 0.9rem;
    }
  }
}

@media (max-width: 600px) {
  .show__nav {
    padding: 1rem 2rem;
  }
  .contact__bar {
    height: 20vh;
  }
}
