@font-face {
  font-family: helvetica;
  src: url(./assets/fonts/HelveticaNeueTTF/HelveticaNeue-01.ttf);
}

@font-face {
  font-family: helveticaBold;
  src: url(./assets/fonts/HelveticaNeueTTF/HelveticaNeue-Bold-02.ttf);
}

@font-face {
  font-family: helveticaMedium;
  src: url(./assets/fonts/HelveticaNeueTTF/HelveticaNeue-Medium-11.ttf);
}

@font-face {
  font-family: helveticaLight;
  src: url(./assets/fonts/HelveticaNeueTTF/HelveticaNeue-Light-08.ttf);
}

@font-face {
  font-family: helveticaUltraLight;
  src: url(./assets/fonts/HelveticaNeueTTF/HelveticaNeue-UltraLight-06.ttf);
}

$color-red: #f43a3a;
$color-dark: #3b3931;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.firstScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  img {
    width: 10%;
    animation: aparecer 1s ease 0.4s backwards;
    transition: all 1s ease 0.1s;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: rotate(60deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  .firstScreen {
    img {
      width: 40%;
    }
  }
}
