@font-face {
  font-family: helvetica;
  src: url(./assets/fonts/HelveticaNeueTTF/HelveticaNeue-01.ttf);
}

@font-face {
  font-family: neueMontrealBold;
  src: url(./assets/fonts/neueMontreal/PPNeueMontreal-Bold.otf);
}

@font-face {
  font-family: neueMontrealMedium;
  src: url(./assets/fonts/neueMontreal/PPNeueMontreal-Medium.otf);
}
@font-face {
  font-family: neueMontrealBook;
  src: url(./assets/fonts/neueMontreal/PPNeueMontreal-Book.otf);
}

@font-face {
  font-family: neueMontrealThin;
  src: url(./assets/fonts/neueMontreal/PPNeueMontreal-Thin.otf);
}

@font-face {
  font-family: neueMontreal;
  src: url(./assets/fonts/neueMontreal/PPNeueMontreal-Book.otf);
}

$color-red: #f43a3a;
$color-dark: #3b3931;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: neueMontreal;
  scroll-behavior: smooth;
}

.firstScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .loading_logo {
    font-size:150px;
    // color: #f43a3a;
    font-family: neueMontrealBook;
    text-align: center;
    // animation: aparecer 0.5s ease 0.4s ;
    // transform: translate3d(360);
    transition: transform 1.2s ease, font-size 1.2s ease;
    &.wave{
        background-image: url(./assets/backgroundRed.png);
        -webkit-background-clip: text;
          color: transparent;
          text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
          animation: loading-animation 1.2s linear alternate;
          background-size: 200px 100px;
          background-repeat: repeat-x;
          opacity: 1;
    }
    &.move{
      transform: translate(-39vw, -44vh);
      font-size: 32px;
    }
  }
}

@keyframes loading-animation {
  0% {
    background-size: 200px 0px
  }

  ;

  100% {
    background-size: 200px 200px
  }

  ;
}

@keyframes aparecer {
  from{
    opacity: 0;
    // transform: rotate(360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  .firstScreen {
    img {
      width: 40%;
    }
  }
}
